---

layout: default

instructor: "Danny Krashen"
office: "Boyd 437"
office-hour: "TBA"

---

<div class="row well"> 
<div class="col-md-6"> <!-- left -->
    {% include news.html %}
    Danny's schedule below. If you see a free spot that you would like to
    meet me, please send me an email and make an appointment!
    
    <br />
    <br />

    <iframe
    src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=3b69k18vfpba76c2kr8llam0e0%40group.calendar.google.com&amp;color=%2328754E&amp;src=lq9dd1vo4p7r3lssgrn5trfiq0%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FNew_York"
    style="border-width:0" width="400" height="300" frameborder="0"
    scrolling="no"></iframe>
</div> <!-- /left-->

<div class="col-md-5 col-md-offset-1"> <!-- right -->
  <div class="row well"> <!-- inner row well 1 (right) -->
    {% include basic_info.html %}
  </div> <!-- /inner row well 1 (right) -->
  <div class="row well"> <!-- inner row well 1 (right) -->
     As an extra resource, the book <i>Applied Combinatorics</i> by Roberts
     and Tesman is a nice reference, with a pretty good overlap on topics.
     <br />
     <br />
     <a href="https://www.amazon.com/Applied-Combinatorics/dp/0130796034/"
     >Applied Combnatorics on Amazon</a>
  </div> <!-- /inner row well 1 (right) -->
</div> 
</div>
