	  <dl>
      <dt> Instructor </dt>
        <dd> {{ site.instructor }} </dd>
      <dt> Office Hour </dt>
        <dd> {{ site.office-hour }} </dd>
      <br />
      <dt> Lecture </dt>
        <dd> {{ site.lecture-schedule }}</dd>
    </dl>
    <p>
    <a href="{{ site.baseurl }}/syllabus.pdf">
      <button class="btn btn-success" type="button">Course Syllabus</button>
    </a>
    </p>
    <br />
    <p>Our textbook is
    <a
    href="http://www.math.dartmouth.edu/news-resources/electronic/kpbogart/"
    >Combinatorics Through Guided Discovery</a>, 
    written by Kenneth P.  Bogart, and available for free (GNU FDL) online.
    <br /> <br />
    <a href="http://www.math.dartmouth.edu/news-resources/electronic/kpbogart/">
http://www.math.dartmouth.edu/news-resources/electronic/kpbogart/</a>

