---
layout: default
---

<h3>Homework</h3>
{% for h in site.data.homework %}
<div class="row well well-sm">
	<div class="col-md-9">
	  <b>{{ h.title }}</b>: due {{ h.due }} <br />
    {{ h.description }}
    {% if h.formlink %} <br /> <br />
    Complete the form below to verify completion of the homework
    assignement by the due date! <br />
    <a href="{{ h.formlink }}" target = "{{ h.title }}">
      <button>Open Homework Form</button>
    </a>
    {% endif %}
	</div>
</div>
{% endfor %}


